<nz-card nzTitle="Modifier Consultation" nzHoverable class="form-card">
  <form [formGroup]="consultationForm" (ngSubmit)="onSubmit()" nz-form nzLayout="vertical">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired>Nom du Patient</nz-form-label>
          <nz-form-control>
            <div formGroupName="rendezVous">
              <div formGroupName="patient">
                <input nz-input formControlName="nom" placeholder="Nom du Patient" />
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="dateConsultation" nzRequired>Date de la Consultation</nz-form-label>
          <nz-form-control>
            <nz-date-picker id="dateConsultation" formControlName="dateConsultation" nzFormat="dd/MM/yyyy HH:mm"
                            nzShowTime >
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="rendezVous" nzRequired>Date du Rendez-Vous</nz-form-label>
          <nz-form-control>
            <div formGroupName="rendezVous">
                <nz-date-picker id="date" formControlName="date" nzFormat="dd/MM/yyyy HH:mm"
                                nzShowTime >
                </nz-date-picker>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="prix" nzRequired>Prix</nz-form-label>
          <nz-form-control>
            <nz-input-number
              id="prix" formControlName="prix"
              [nzMin]="0"
              [nzStep]="50"
              [nzFormatter]="formatPrix">
            </nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="statusRDV" nzRequired>Statut</nz-form-label>
          <nz-form-control>
            <nz-select
              id="statusRDV"
              formControlName="statusRDV"
              nzPlaceHolder="Sélectionnez un statut">
              <nz-option nzValue="PENDING" nzLabel="Planifié"></nz-option>
              <nz-option nzValue="DONE" nzLabel="Terminé"></nz-option>
              <nz-option nzValue="CANCELED" nzLabel="Annulé"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24" class="text-area-container">
          <nz-form-item>
            <nz-form-label nzFor="rapport" nzRequired>Rapport</nz-form-label>
            <nz-form-control>
              <angular-editor
                formControlName="rapport"
                [config]="editorConfig"
                placeholder="Écrivez le rapport du patient ici..."
                class="custom-angular-editor"
              ></angular-editor>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div class="form-actions" >
      <button nz-button nzType="default" (click)="onCancel()" style="margin-right: 8px;">Annuler</button>
      <button nz-button nzType="primary" [disabled]="consultationForm.invalid">Enregistrer</button>
    </div>
  </form>
</nz-card>
