<nz-card nzHoverable>
  <ng-container *ngIf="medecins$ | async as medecins; else error">
    <div class="add-btn">
      <button nz-button  (click)="onAdd()">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        Ajouter un Medecin
      </button>
    </div>
    <nz-table
      #medecinTable
      [nzData]="medecins"
      nzBordered
      nzSize="middle"
      [nzScroll]="{ x: '1000px' }"
    >
      <thead>
      <tr>
        <th nzWidth="80px">ID</th>
        <th nzWidth="150px">Nom</th>
        <th nzWidth="120px">Specialiste</th>
        <th nzWidth="150px">Téléphone</th>
        <th nzWidth="150px">Email</th>
        <th nzWidth="150px">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let m of medecinTable.data">
        <td>{{ m.id }}</td>
        <td><strong>{{ m.nom }}</strong></td>
        <td>{{ m.specialite }}</td>
        <td>{{ m.numeroTelephone}}</td>
        <td>{{ m.email }}</td>
        <td>
          <button nz-button nz-tooltip nzTooltipTitle="Modifier" nzType="link" (click)="onEdit(m)">
            <i nz-icon nzType="edit"></i>
          </button>

          <button nz-button nz-tooltip nzTooltipTitle="Supprimer" nzType="link" nzDanger (click)="onDelete(m)">
            <i nz-icon nzType="delete"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>

    <div class="pagination-controls">
      <button nz-button (click)="prevPage()" [disabled]="currentPage === 0">
        <i nz-icon nzType="left"></i> Précédent
      </button>

      <span class="page-info">
        Page {{ currentPage + 1 }} / {{ totalPages }}
      </span>

      <button nz-button (click)="nextPage()" [disabled]="currentPage === totalPages - 1">
        Suivant <i nz-icon nzType="right"></i>
      </button>
    </div>
  </ng-container>

  <ng-template #error>
    <nz-alert nzType="error" [nzMessage]="errorMessage" nzShowIcon></nz-alert>
  </ng-template>
</nz-card>
