.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;

  app-header {
    flex-shrink: 0;
  }

  .inner-content {
    flex: 1;
    padding-block: 8px 0;
    overflow-y: auto;

    > div {
      margin-inline: auto;
      min-height: auto;
    }

    &::-webkit-scrollbar {
      width: 9px;
    }

    &::-webkit-scrollbar-track {
      background: #007bff;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #007bff;
      border-radius: 5px;
      border: 2px solid #ffffff;
    }

    @supports not selector(::-webkit-scrollbar) {
      body {
        scrollbar-color: #007bff #fff;
      }
    }
  }
}
