<div class="search-add-container">
  <form [formGroup]="searchForm" class="search-form">
    <nz-input-group nzSearch [nzAddOnAfter]="searchButton">
      <input type="text" formControlName="keyword" nz-input
        [placeholder]="searchPlaceholder"
      />
      <ng-template #searchButton>
        <button nz-button nzType="primary" nzSearch>
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
    </nz-input-group>
  </form>

  <button nz-button nzType="primary" (click)="addClick.emit()" class="add-btn">
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    {{ addButtonText }}
  </button>
</div>
