/* shared/components/search-add-actions/search-add-actions.component.scss */
.search-add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 16px;

  .search-form {
    flex: 1;
    max-width: 400px;
  }

  .add-btn {
    background-color: #1890ff;  // Couleur de fond principale de NG-ZORRO (ou une couleur personnalisée)
    color: white;               // Texte blanc
    border: none;               // Pas de bordure
    cursor: pointer;            // Changer le curseur au survol
    padding: 10px 20px;         // Ajouter du padding pour le texte
    font-size: 16px;            // Taille de la police
    border-radius: 4px;         // Coins arrondis pour un effet plus doux
    display: inline-flex;
    align-items: center;        // Aligner le texte et l'icône au centre
    transition: background-color 0.3s;

    i {
      font-size: 14px;
    }

    &:hover {
      background-color: #40a9ff;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;

    .search-form {
      max-width: 100%;
    }
  }
}
