<nz-layout class="main-layout">
    <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    [nzCollapsedWidth]="64"
    [nzWidth]="240"
    class="custom-sider">

    <div class="logo">
      <img src="assets/images/logopng.PNG" class="logo-icon" *ngIf="isCollapsed">
      <div class="logo-full" *ngIf="!isCollapsed">
        <img src="assets/images/logopng.PNG" class="logo-icon">
        <span class="logo-text">DocApp</span>
      </div>
    </div>

    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="custom-menu">
      <li nz-menu-item [routerLinkActive]="['active']">
        <a routerLink="dashboard" nz-tooltip [nzTooltipTitle]="isCollapsed ? 'Dashboard' : null">
          <nz-icon nzType="appstore"></nz-icon>
          <span>Dashboard</span>
        </a>
      </li>

      <li nz-submenu nzIcon="user" nzTitle="Patients" class="custom-sub-menu">
        <ul>
          <li nz-menu-item [routerLinkActive]="['active']" class="custom-menu">
            <a [routerLink]="['/doc/patients/list']" nz-tooltip [nzTooltipTitle]="isCollapsed ? 'Liste des Patients' : null">
              <nz-icon nzType="profile"></nz-icon>
              <span>Liste des Patients</span>
            </a>
          </li>
          <li nz-menu-item [routerLinkActive]="['active']" class="custom-menu">
            <a [routerLink]="['/doc/patients/create']" nz-tooltip [nzTooltipTitle]="isCollapsed ? 'Ajouter un Patient' : null">
              <nz-icon nzType="plus"></nz-icon>
              <span>Ajouter un Patient</span>
            </a>
          </li>
        </ul>
      </li>

      <li nz-menu-item [routerLinkActive]="['active']" class="custom-menu">
        <a [routerLink]="['/doc/medecin/list']" nz-tooltip [nzTooltipTitle]="isCollapsed ? 'Médecins' : null">
          <nz-icon nzType="team"></nz-icon>
          <span>Médecins</span>
        </a>
      </li>

      <li nz-submenu nzIcon="calendar" nzTitle="Rendez-vous" class="custom-sub-menu" >
        <ul>
          <li nz-menu-item [routerLinkActive]="['active']" class="custom-menu">
            <a [routerLink]="['/doc/rdv/list']" nz-tooltip [nzTooltipTitle]="isCollapsed ? 'Liste des RDV' : null">
              <nz-icon nzType="unordered-list"></nz-icon>
              <span>Liste des RDV</span>
            </a>
          </li>
          <li nz-menu-item [routerLinkActive]="['active']" class="custom-menu">
            <a [routerLink]="['/doc/rdv/create']" nz-tooltip [nzTooltipTitle]="isCollapsed ? 'Ajouter un RDV' : null">
              <nz-icon nzType="plus"></nz-icon>
              <span>Ajouter un RDV</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-menu-item [routerLinkActive]="['active']" class="custom-menu">
        <a [routerLink]="['/doc/medicament/list']" nz-tooltip [nzTooltipTitle]="isCollapsed ? 'Médicaments' : null">
          <nz-icon nzType="file-done"></nz-icon>
          <span>Médicament</span>
        </a>
      </li>
    
    </ul>
  </nz-sider>
  <nz-layout class="white-layout">
    <nz-header class="app-header clean">
      <button class="collapse-toggle-header" (click)="isCollapsed = !isCollapsed">
        <nz-icon [nzType]="isCollapsed ? 'arrow-right' : 'arrow-left'"></nz-icon>
      </button>

      

      <nz-breadcrumb>
  <nz-breadcrumb-item>
    {{ currentPageTitle }}
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="childTitle">
    {{ childTitle }}
  </nz-breadcrumb-item>
</nz-breadcrumb>

      <div class="header-right">
        <div nz-dropdown [nzDropdownMenu]="menu" class="user-dropdown">
          <div class="user-profile" nz-dropdownTrigger>
            <nz-avatar [nzSrc]="'assets/images/avatar.svg'" class="user-avatar"></nz-avatar>
            <nz-icon nzType="down"></nz-icon>
          </div>
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <a (click)="edit()">
                <nz-icon nzType="update"></nz-icon>
                Edit Profil
              </a>
            </li>
            <li nz-menu-item>
              <a (click)="logout()">
                <nz-icon nzType="logout"></nz-icon>
                Déconnexion
              </a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>

    <nz-content class="app-content">
      <div class="content-inner">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <nz-footer class="app-footer">
      <div class="footer-content">
        <div>DocApp ©2025 - Système de gestion médicale</div>
        <div class="footer-links">
          <a>Confidentialité</a>
          <a>Conditions</a>
          <a>Support</a>
        </div>
      </div>
    </nz-footer>
  </nz-layout>
</nz-layout>
