<nz-card nzHoverable>
  <ng-container *ngIf="ordonnance$ | async as ordonnances; else error">
    <app-search-add-actions
      searchPlaceholder="Rechercher un patient"
      addButtonText="Ajouter une Ordonnance"
      (searchChange)="onSearch($event)"
      (addClick)="onAdd()">
    </app-search-add-actions>

    <nz-table
      #ordonnanceTable
      [nzData]="ordonnances"
      nzBordered
      nzSize="middle"
      [nzScroll]="{ x: '1000px' }"
    >
      <thead>
      <tr>
        <th nzWidth="80px">ID</th>
        <th nzWidth="150px">Patient</th>
        <th nzWidth="200px">Contenu</th>
        <th nzWidth="150px">Date d'Émission</th>
        <th nzWidth="150px">Consultation</th>
        <th nzWidth="150px">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let o of ordonnanceTable.data"
        [ngClass]="{ 'fade-out': deletedIds.includes(o.id) }"
      >
        <td>{{ o.id }}</td>
        <td>{{ o.consultation?.rendezVous?.patient?.nom || 'N/A' }}</td>
        <td>{{ o.contenu }}</td>
        <td>{{ o.dateEmission | date: 'dd/MM/yyyy' }}</td>
        <td>{{ o.consultation?.dateConsultation | date: 'dd/MM/yyyy' }}</td>
        <td class="center-cell">
          <button
            nz-button
            nz-tooltip
            nzTooltipTitle="Modifier"
            nzType="link"
            (click)="onEdit(o)"
          >
            <i nz-icon nzType="edit"></i>
          </button>

          <button
            nz-button
            nz-tooltip
            nzTooltipTitle="Supprimer"
            nzType="link"
            nzDanger
            (click)="onDelete(o)"
          >
            <i nz-icon nzType="delete"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>

    <div class="pagination-controls">
      <button nz-button (click)="prevPage()" [disabled]="currentPage === 0">
        <i nz-icon nzType="left"></i> Précédent
      </button>

      <span class="page-info">Page {{ currentPage + 1 }} / {{ totalPages }}</span>

      <button
        nz-button
        (click)="nextPage()"
        [disabled]="currentPage === totalPages - 1"
      >
        Suivant <i nz-icon nzType="right"></i>
      </button>
    </div>
  </ng-container>

  <ng-template #error>
    <nz-alert nzType="error" [nzMessage]="errorMessage" nzShowIcon></nz-alert>
  </ng-template>
</nz-card>
