<nz-card nzHoverable>
  <ng-container *ngIf="consultation$ | async as consultations ; else error">
<div class="add-btn">
  <button nz-button (click)="onAdd()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    Ajouter une Consultation
  </button>
</div >
    <nz-table
      #consultationTable [nzData]="consultations" nzBordered nzSize="middle" [nzScroll]="{ x: '1000px' }">
      <thead>
      <tr>
        <th nzWidth="100px">ID</th>
        <th nzWidth="100px">Date Du Consultation</th>
        <th nzWidth="100px">Rapport</th>
        <th nzWidth="120px">Rendez-Vous</th>
        <th nzWidth="100px">Prix</th>
        <th nzWidth="100px">Status</th>
        <th nzWidth="100px">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of consultationTable.data"
          [ngClass]="{ 'fade-out': deletedIds.includes(c.id) }">
        <td>{{ c.id }}</td>
        <td>{{ c.dateConsultation | date: 'dd/MM/yyyy'}}</td>
        <td class="center-cell">
          <button nz-button nz-tooltip nzTooltipTitle="Voir le Rapport" nzType="link" (click)="showRapportModal(c)">
            <i nz-icon nzType="eye"></i>
          </button>
        </td>
        <td>{{ c.rendezVous }}</td>
        <td>{{ c.prix }}</td>
        <td>
          <nz-tag [nzColor]="getStatusConfig(c.statusRDV)?.color || 'default'">
            {{ getStatusConfig(c.statusRDV)?.label || 'Inconnu' }}
          </nz-tag>
        </td>
        <td class="center-cell">
          <button nz-button nz-tooltip nzTooltipTitle="Modifier" nzType="link" (click)="onEdit(c)">
            <i nz-icon nzType="edit"></i>
          </button>

          <button nz-button nz-tooltip nzTooltipTitle="Supprimer" nzType="link" nzDanger (click)="onDelete(c)">
            <i nz-icon nzType="delete"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <ng-template #error>
    <nz-alert nzType="error" [nzMessage]="errorMessage" nzShowIcon></nz-alert>
  </ng-template>
</nz-card>
