<header class="header">
  <nav class="nav-container">
    <div class="logo">Doc</div>
    <ul class="nav-links">
      <li><a routerLink="dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="patients" routerLinkActive="active">Patients</a></li>
      <li><a routerLink="medecin" routerLinkActive="active">Médecins</a></li>
      <li><a routerLink="rdv" routerLinkActive="active">Rendez-vous</a></li>
      <li><a routerLink="consultations" routerLinkActive="active">Consultations</a></li>
      <li><a routerLink="ordonnance" routerLinkActive="active">Ordonnances</a></li>
    </ul>
  </nav>
</header>
