<header class="header">
  <nav class="nav-container">
    <div class="logo">Doc</div>
    <ul class="nav-links">
      <li><a routerLink="dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="patients" routerLinkActive="active">Patients</a></li>
      <li><a routerLink="medecin" routerLinkActive="active">Médecins</a></li>
      <li><a routerLink="rdv" routerLinkActive="active">Rendez-vous</a></li>
      <li>
        <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="mainMenu" [nzPlacement]="'bottomRight'">
    <span class="menu-label">
      <nz-icon nzType="menu" nzTheme="outline" class="dropdown-icon" />
    </span>
        </a>
        <nz-dropdown-menu #mainMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item routerLink="/doc/medicament/list">
              <i nz-icon nzType="file-done"></i> Medicament
            </li>
            <li nz-menu-item routerLink="/factures">
              <i nz-icon nzType="file-protect"></i> Factures
            </li>

            <!-- Section Administration -->
            <ng-container *appHasPermission="'ROLE_LIST'">
              <li nz-menu-divider></li>
              <li nz-submenu nzTitle="Administration" nzIcon="setting">
                <ul>
                  <li nz-menu-item routerLink="/doc/admin/roles" *appHasPermission="'ROLE_LIST'">
                    <i nz-icon nzType="team"></i> Gestion des rôles
                  </li>
                  <li nz-menu-item routerLink="/doc/admin/permissions" *appHasPermission="'ROLE_PERMISSION_ASSIGN'">
                    <i nz-icon nzType="safety-certificate"></i> Permissions utilisateurs
                  </li>
                </ul>
              </li>
            </ng-container>

            <li nz-menu-divider></li>
            <li nz-menu-item (click)="edit()">
              <i nz-icon nzType="user"></i> Profil
            </li>
            <li nz-menu-item (click)="logout()">
              <i nz-icon nzType="logout"></i> Déconnexion
            </li>
          </ul>
        </nz-dropdown-menu>
      </li>
    </ul>
  </nav>
</header>
