$transition-duration: 0.5s;
$transition-behavior: ease-in-out;
$main-color-light: #00736e;
$main-color-dark: #016d68;
$second-color: #ffcd00;
$border-color: #ddd;
$border-radius-button: 8px;
$border-radius-input: 6px;
