$transition-duration: 0.5s;
$transition-behavior: ease-in-out;
$main-color-light: #007bff;
$main-color-dark: #007bff;
$second-color: rgba(0, 0, 0, 0.08);
$border-color: #ddd;
$border-radius-button: 8px;
$border-radius-input: 6px;
