<nz-card nzHoverable>
  <ng-container *ngIf="patients$ | async as patients; else error">

    <div class="add-btn">
      <button nz-button  (click)="onAdd()">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        Ajouter un patient
      </button>
    </div>

    <nz-table
      #patientTable
      [nzData]="patients"
      nzBordered
      nzSize="middle"
      [nzScroll]="{ x: '1000px' }"
    >
      <thead>
      <tr>
        <th nzWidth="80px">ID</th>
        <th nzWidth="40px">Titre</th>
        <th nzWidth="150px">Nom Complet</th>
        <th nzWidth="120px">Naissance</th>
        <th nzWidth="150px">Téléphone</th>
        <th nzWidth="150px">Adresse</th>
        <th nzWidth="70px">Rapport</th>
        <th nzWidth="100px">Statut</th>
        <th nzWidth="100px">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of patientTable.data"
          [ngClass]="{ 'fade-out': deletedIds.includes(p.id) }"
      >
        <td>{{ p.id }}</td>
        <td>{{ p.titre }}</td>
        <td><strong>{{ p.nom }}</strong></td>
        <td>{{ p.dateNaissance | date: 'dd/MM/yyyy' }}</td>
        <td>{{ p.numeroTelephone }}</td>
        <td>{{ p.adresse }}</td>
        <td class="center-cell">
          <button nz-button nz-tooltip nzTooltipTitle="Voir le Rapport" nzType="link" (click)="showRapportModal(p)">
            <i nz-icon nzType="eye"></i>
          </button>
        </td>
        <td >
          <nz-tag [nzColor]="p.malade ? 'error' : 'success'">
            {{ p.malade ? 'Malade' : 'Sain' }}
          </nz-tag>
        </td>
        <td class="center-cell">
          <button nz-button nz-tooltip nzTooltipTitle="Modifier" nzType="link" (click)="onEdit(p)">
            <i nz-icon nzType="edit"></i>
          </button>

          <button nz-button nz-tooltip nzTooltipTitle="Supprimer" nzType="link" nzDanger (click)="onDelete(p)">
            <i nz-icon nzType="delete"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>

    <div class="pagination-controls">
      <button nz-button (click)="prevPage()" [disabled]="currentPage === 0">
        <i nz-icon nzType="left"></i> Précédent
      </button>

      <span class="page-info">
        Page {{ currentPage + 1 }} / {{ totalPages }}
      </span>

      <button nz-button (click)="nextPage()" [disabled]="currentPage === totalPages - 1">
        Suivant <i nz-icon nzType="right"></i>
      </button>
    </div>
  </ng-container>

  <ng-template #error>
    <nz-alert nzType="error" [nzMessage]="errorMessage" nzShowIcon></nz-alert>
  </ng-template>
</nz-card>
